/* CSS ADNETEST */
/* Css http://www.adneom.fr */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
	{
	/*display: block*/
	
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not ([controls] ) {
	display: none
}

[hidden] {
	display: none
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html,button,input,select,textarea {
	font-family: sans-serif;
	color: #222
}

body {
	margin: 0;
	font-size: 1em;
	background: url("http://adneom.fr/www/public/images/home_bg.png")
		repeat-x bottom;
	line-height: 1.4
}

body,html {
	margin: 0;
	padding: 0
}

::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none
}

::selection {
	background: #000;
	color: #fff;
	text-shadow: none
}

a {

	outline: none
}


abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold
}

pre,code,kbd,samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before,q:after {
	content: "";
	content: none
}

small {
	font-size: 85%
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

ul,ol {
	margin: 1em 0;
	padding: 0 0 0 40px
}

dd {
	margin: 0 0 0 40px
}

nav ul,nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle
}

svg:not (:root ) {
	overflow: hidden
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

label {
	cursor: pointer
}

legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
	white-space: normal
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button,input {
	line-height: normal
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible
}

button[disabled],input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}

input:invalid,textarea:invalid {
	background-color: #f0dddd
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td {
	vertical-align: top
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0
}

.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0
}

.ir br {
	display: none
}

.hidden {
	display: none !important;
	visibility: hidden
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto
}

.invisible {
	visibility: hidden
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important
	}
	a,a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: ""
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid
	}
	thead {
		display: table-header-group
	}
	tr,img {
		page-break-inside: avoid
	}
	img {
		max-width: 100% !important
	}
	@page {
		margin: 0.5cm
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3
	}
	h2,h3 {
		page-break-after: avoid
	}
}

@font-face {
	font-family: 'HelveticaNeue45Light';
	src:
		url("http://adneom.fr/www/public/fonts/helveticaneue-light-webfont.eot");
	src:
		url("http://adneom.fr/www/public/fonts/helveticaneue-light-webfont.eot?#iefix")
		format("embedded-opentype"),
		url("http://adneom.fr/www/public/fonts/helveticaneue-light-webfont.woff")
		format("woff"),
		url("http://adneom.fr/www/public/fonts/helveticaneue-light-webfont.ttf")
		format("truetype"),
		url("http://adneom.fr/www/public/fonts/helveticaneue-light-webfont.svg#HelveticaNeue45Light")
		format("svg");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'HelveticaNeueLTStd77BdCn';
	src:
		url("http://adneom.fr/www/public/fonts/helveticaneueltstd-bdcn-webfont.eot");
	src:
		url("http://adneom.fr/www/public/fonts/helveticaneueltstd-bdcn-webfont.eot?#iefix")
		format("embedded-opentype"),
		url("http://adneom.fr/www/public/fonts/helveticaneueltstd-bdcn-webfont.woff")
		format("woff"),
		url("http://adneom.fr/www/public/fonts/helveticaneueltstd-bdcn-webfont.ttf")
		format("truetype"),
		url("http://adneom.fr/www/public/fonts/helveticaneueltstd-bdcn-webfont.svg#HelveticaNeueLTStd77BdCn")
		format("svg");
	font-weight: normal;
	font-style: normal
}

body,html {
	width: 100%;
	height: 100%
}

.home,.about,.join,.skills,.news {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden
}

.home {
	border-top: 4px solid #373737;
	background: #fff url("http://adneom.fr/www/public/images/home_bg.png")
		repeat-x bottom
}

.list-langues {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 4px;
	right: 300px;
	width: 60px;
	height: 40px;
	border: 1px #999 solid;
	border-top: none;
	border-radius: 0 0 5px 5px;
	background:
		url("http://adneom.fr/www/public/images/header_arrow_lang.png")
		no-repeat 40px 18px;
	overflow: hidden
}

.list-langues li a {
	text-decoration: none;
	display: block;
	color: #000;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding: 10px
}

.list-langues:hover {
	overflow: visible;
	height: 120px
}

.badge_fr,.badge_nl,.badge_en {
	display: block;
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/badge-postulez_fr.png")
		no-repeat right top;
	width: 147px;
	height: 88px;
	position: absolute;
	top: 4px;
	right: 110px
}

.badge_nl {
	background:
		url("http://adneom.fr/www/public/images/badge-postulez_nl.png")
		no-repeat right top
}

.badge_en {
	background:
		url("http://adneom.fr/www/public/images/badge-postulez_en.png")
		no-repeat right top
}

.homelogo {
	float: left;
	height: 250px;
	margin-right: 10px
}

.homelogo .logo {
	float: left;
	width: 162px;
	background: url("http://adneom.fr/www/public/images/logo_anim.png");
	background-color: transparent;
	background-repeat: no-repeat;
	height: 200px
}

.homelogo .logo strong {
	color: #666;
	font-size: 24px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	left: 30px
}

.homelogo .logomy {
	float: left;
	width: 280px;
	background: url("http://adneom.fr/www/public/images/myadneom_big.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
	height: 180px
}

.homelogo .accolade {
	float: left;
	width: 40px;
	background-image:
		url("http://adneom.fr/www/public/images/accolade_home.png");
	background-color: transparent;
	background-repeat: no-repeat;
	height: 250px
}

.homelogo .accolademy {
	float: left;
	width: 40px;
	background-image:
		url("http://adneom.fr/www/public/images/accolade_myadneom.png");
	background-color: transparent;
	background-repeat: no-repeat;
	height: 180px;
	margin-left: 20px;
	margin-right: 20px
}

.menucontentwrapper,.menucontentwrappermy {
	width: 910px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -450px;
	height: 250px;
	clear: both
}

.menucontentwrappermy {
	width: 510px;
	margin-left: -280px;
	margin-top: -110px;
	height: 180px
}

.sprite {
	margin-top: 23px;
	width: 160px;
	height: 200px;
	background-color: transparent;
	background-repeat: no-repeat;
	float: left;
	margin-right: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer
}

.news_sprite {
	background-image:
		url("http://adneom.fr/www/public/images/news_anim.png")
}

.news {
	background-image: url("http://adneom.fr/www/public/images/news.jpg")
}

.news-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute
}

.news-menu li {
	text-align: center;
	padding-top: 6px
}

.news-menu li a {
	text-decoration: none;
	color: #666;
	font-size: 18px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif
}

.news-menu .menu-titre {
	background: #a666d2;
	border-radius: 5px;
	width: 160px;
	margin-top: 10px
}

.news-menu .menu-titre a {
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center
}

.news-menu .menu-list {
	background: #FFFFFF;
	border-radius: 5px;
	width: 160px;
	border: 1px #CCC solid;
	padding: 0;
	margin: 0
}

.news-menu .menu-list li {
	padding: 0 10px;
	text-align: left;
	border-bottom: 1px #CCC solid
}

.news-menu .menu-list li a {
	color: #666;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	font-size: 14px
}

.news-menu .menu-list .menu-last {
	border-bottom: none
}

.join_sprite {
	background-image:
		url("http://adneom.fr/www/public/images/join_anim.png")
}

.join {
	background-image: url("http://adneom.fr/www/public/images/join.jpg")
}

.join-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute
}

.join-menu li {
	text-align: center;
	padding-top: 6px
}

.join-menu li a {
	text-decoration: none;
	color: #666;
	font-size: 18px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif
}

.join-menu .menu-titre {
	background: #a666d2;
	border-radius: 5px;
	width: 160px;
	margin-top: 10px
}

.join-menu .menu-titre a {
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center
}

.join-menu .menu-list {
	background: #FFFFFF;
	border-radius: 5px;
	width: 160px;
	border: 1px #CCC solid;
	padding: 0;
	margin: 0
}

.join-menu .menu-list li {
	padding: 0 10px;
	text-align: left;
	border-bottom: 1px #CCC solid
}

.join-menu .menu-list li a {
	color: #666;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	font-size: 14px
}

.join-menu .menu-list .menu-last {
	border-bottom: none
}

.skills_sprite {
	background-image:
		url("http://adneom.fr/www/public/images/skills_anim.png")
}

.skills {
	background-image: url("http://adneom.fr/www/public/images/skills.jpg")
}

.skills-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute
}

.skills-menu li {
	text-align: center;
	padding-top: 6px
}

.skills-menu li a {
	text-decoration: none;
	color: #666;
	font-size: 18px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif
}

.skills-menu .menu-titre {
	background: #a666d2;
	border-radius: 5px;
	width: 160px;
	margin-top: 10px
}

.skills-menu .menu-titre a {
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center
}

.skills-menu .menu-list {
	background: #FFFFFF;
	border-radius: 5px;
	width: 160px;
	border: 1px #CCC solid;
	padding: 0;
	margin: 0
}

.skills-menu .menu-list li {
	padding: 0 10px;
	text-align: left;
	border-bottom: 1px #CCC solid
}

.skills-menu .menu-list li a {
	color: #666;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	font-size: 14px
}

.skills-menu .menu-list .menu-last {
	border-bottom: none
}

.about_sprite {
	background-image:
		url("http://adneom.fr/www/public/images/about_anim.png")
}

.about {
	background-image: url("http://adneom.fr/www/public/images/about.jpg")
}

.about-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute
}

.about-menu li {
	text-align: center;
	padding-top: 6px
}

.about-menu li a {
	text-decoration: none;
	color: #666;
	font-size: 18px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif
}

.about-menu .menu-titre {
	background: #a666d2;
	border-radius: 5px;
	width: 160px;
	margin-top: 10px
}

.about-menu .menu-titre a {
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-align: center
}

.about-menu .menu-list {
	background: #FFFFFF;
	border-radius: 5px;
	width: 160px;
	border: 1px #CCC solid;
	padding: 0;
	margin: 0
}

.about-menu .menu-list li {
	padding: 0 10px;
	text-align: left;
	border-bottom: 1px #CCC solid
}

.about-menu .menu-list li a {
	color: #666;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	font-size: 14px
}

.about-menu .menu-list .menu-last {
	border-bottom: none
}

.and {
	float: left;
	margin-left: -25px;
	margin-right: -20px;
	position: relative;
	top: 100px;
	width: 46px;
	height: 45px;
	background-image: url("http://adneom.fr/www/public/images/add.png")
}

.about-menu {
	left: 213px;
	bottom: 244px
}

.about-menu .menu-titre {
	background: #a666d2
}

.news-menu {
	bottom: 244px;
	left: 385px
}

.news-menu .menu-titre {
	background: #89d13d
}

.skills-menu {
	bottom: 244px;
	left: 555px
}

.skills-menu .menu-titre {
	background: #e96e2b
}

.join-menu {
	bottom: 244px;
	left: 726px
}

.join-menu .menu-titre {
	background: #3db4e6
}

#postuler {
	width: 880px;
	min-height: 500px;
	height: auto;
	background-color: #e9f9ff;
	color: #666;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px
}

#postuler .joincontentcol1 {
	overflow: hidden
}

#postuler .joincontentcol1 img {
	display: block;
	margin-left: 40px;
	margin-top: 90px
}

#postuler .joincontentcol2 {
	overflow: hidden;
	color: #666;
	width: 550px;
	min-height: 455px;
	height: auto
}

#postuler .joincontentcol2 label {
	font-size: 20px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	display: block;
	padding-left: 3px;
	width: 100%
}

#postuler .joincontentcol2 form {
	display: block;
	margin-top: 33px;
	margin-left: 25px
}

#postuler .joincontentcol2 input,#postuler .joincontentcol2 select,#postuler .joincontentcol2 button
	{
	border: 1px solid #32a8da;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 28px;
	line-height: 28px;
	color: #666
}

#postuler .joincontentcol2 .submit {
	border: 1px solid #666;
	height: 30px;
	color: #FFF;
	float: left;
	width: 100px
}

#postuler .single-input {
	width: 65px;
	margin-bottom: 25px
}

#postuler .form-submit {
	width: 100%;
	clear: left
}

#postuler .form-submit .error {
	float: left;
	display: block;
	line-height: 20px;
	margin: 0 0 0 18px;
	padding: 5px 0 0 0;
	width: 405px
}

#postuler .form-submit .fatal {
	color: #FF0000
}

#postuler .double-input .input {
	float: left;
	width: 255px;
	margin-bottom: 25px
}

#postuler .double-input input {
	width: 240px
}

#postuler .double-input p {
	font-size: 13px;
	margin-top: 5px
}

#postuler .double-input .input_image {
	float: left;
	width: 112px;
	margin-right: 10px
}

.uploadify {
	float: left;
	width: 142px
}

.uploadifyButton {
	height: 30px
}

.uploadifyButtonText {
	border: 1px solid #666666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image:
		url("http://adneom.fr/www/public/images/uploadify_bgn.png");
	height: 28px;
	line-height: 30px;
	display: block;
	width: 100%;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif
}

.submit {
	background-image: url("http://adneom.fr/www/public/images/bgsubmit.png");
	background-repeat: repeat-x;
	background-position: center center;
	width: 80px
}

.bottomcontentwrapper {
	width: 900px;
	position: absolute;
	top: 85%;
	left: 50%;
	margin-left: -450px;
	clear: both
}

.villes {
	padding: 0;
	list-style: none;
	width: 680px;
	margin: 0 auto
}

.villes li {
	float: left;
	padding: 0;
	color: #999;
	font-size: 16px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	display: block;
	text-align: center;
	width: 220px
}

.villes li a {
	text-decoration: none;
	padding: 0 80px;
	color: #999;
	font-size: 16px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif
}

.villes li a:hover {
	color: #333
}

.villes li:hover {
	color: #333
}

.villes li:hover .popup {
	display: block
}

.villes li:hover a {
	color: #333
}

.villes .ville-separator {
	padding: 0;
	width: 3px
}

.popup {
	display: none;
	width: 220px;
	height: 140px;
	background:
		url("http://adneom.fr/www/public/images/accolade_bottom_popup_home.png")
		no-repeat center bottom;
	position: relative;
	top: -170px;
	left: 0
}

.popup .box-popup {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	width: 220px;
	height: 120px;
	background: #333;
	border-radius: 20px
}

.popup .box-popup li {
	width: 220px;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif
}

.fixed nav {
	/*position: fixed;*/
	top: 0;
	left: 0
}

.menu-fixed {
	overflow: hidden;
	height: 76px
}

nav {
	width: 100%;
	height: 76px;
	background: #FFF;
	border-bottom: solid 1px #888;
	/*position: absolute;*/
	top: 100%;
	left: 0;
	z-index: 1000
}

nav .header_menu {
	width: 995px;
	margin: 0 auto;
	padding: 0
}

nav .header_menu .box-logo {
	margin: 0;
	padding: 0;
	float: left;
	width: 184px;
	height: 164px;
	position: absolute
}

nav .header_menu .box-logo .logo {
	display: block;
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/header_adneom_logo.png")
		no-repeat center top;
	width: 184px;
	height: 164px
}

nav .header_menu h2 {
	margin: 0 0 0 200px;
	padding: 0;
	float: left;
	color: #666;
	font-size: 22px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	line-height: 82px
}

nav .header_menu h2 a {
	text-decoration: none;
	color: #666;
	font-size: 22px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	text-transform: uppercase
}

nav .header_menu .top-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	position: absolute;
	top: 15px;
	right: 280px
}

nav .header_menu .top-menu li {
	float: left;
	margin: 0 30px 0 0;
	padding: 0
}

nav .header_menu .top-menu .top-about {
	/*display: block;*/
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/header-top-menu.png")
		no-repeat 0 0;
	width: 36px;
	height: 51px
}

nav .header_menu .top-menu .top-about:hover {
	background-position: 0 -51px
}

nav .header_menu .top-menu .top-about-click {
	background-position: 0 -51px;
	transition: all 0.3s ease 0.1s;
	-moz-transition: all 0.3s ease 0.1s;
	-webkit-transition: all 0.3s ease 0.1s;
	-o-transition: all 0.3s ease 0.1s
}

nav .header_menu .top-menu .top-news {
	/*display: block;*/
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/header-top-menu.png")
		no-repeat -36px 0;
	width: 60px;
	height: 51px
}

nav .header_menu .top-menu .top-news:hover {
	background-position: -36px -51px
}

nav .header_menu .top-menu .top-news-click {
	background-position: -36px -51px;
	transition: all 0.3s ease 0.1s;
	-moz-transition: all 0.3s ease 0.1s;
	-webkit-transition: all 0.3s ease 0.1s;
	-o-transition: all 0.3s ease 0.1s
}

nav .header_menu .top-menu .top-skills {
	/*display: block;*/
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/header-top-menu.png")
		no-repeat -96px 0;
	width: 43px;
	height: 51px
}

nav .header_menu .top-menu .top-skills:hover {
	background-position: -96px -51px
}

nav .header_menu .top-menu .top-skills-click {
	background-position: -96px -51px;
	transition: all 0.3s ease 0.1s;
	-moz-transition: all 0.3s ease 0.1s;
	-webkit-transition: all 0.3s ease 0.1s;
	-o-transition: all 0.3s ease 0.1s
}

nav .header_menu .top-menu .top-join {
	/*display: block;*/
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/header-top-menu.png")
		no-repeat -139px 0;
	width: 51px;
	height: 51px
}

nav .header_menu .top-menu .top-join:hover {
	background-position: -139px -51px
}

nav .header_menu .top-menu .top-join-click {
	background-position: -139px -51px;
	transition: all 0.3s ease 0.1s;
	-moz-transition: all 0.3s ease 0.1s;
	-webkit-transition: all 0.3s ease 0.1s;
	-o-transition: all 0.3s ease 0.1s
}

nav .header_menu .top-menu .menu-actif {
	background:
		url("http://adneom.fr/www/public/images/header_triangle.png")
		no-repeat center bottom;
	height: 84px
}

nav .header_menu .top-menu .menu-actif-news {
	background:
		url("http://adneom.fr/www/public/images/header_triangle.png")
		no-repeat center bottom;
	height: 84px
}

nav .header_menu .header-list-langues {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 15px;
	right: 225px;
	width: 55px;
	height: 35px;
	border: 1px #999 solid;
	border-radius: 5px;
	background: #fff
		url("http://adneom.fr/www/public/images/header_arrow_lang.png")
		no-repeat 40px 15px;
	overflow: hidden;
	z-index: 2
}

nav .header_menu .header-list-langues li a {
	text-decoration: none;
	/*display: block;*/
	color: #000;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding: 8px 10px
}

nav .header_menu .header-list-langues:hover {
	overflow: visible;
	height: 105px
}

nav .box-badge .badge_fr,nav .box-badge .badge_nl,nav .box-badge .badge_en
	{
	/*display: block;*/
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/badge-postulez_fr.png")
		no-repeat right top;
	width: 147px;
	height: 88px;
	position: absolute;
	top: 75px;
	right: 140px
}

nav .box-badge .badge_nl {
	background:
		url("http://adneom.fr/www/public/images/badge-postulez_nl.png")
		no-repeat right top
}

nav .box-badge .badge_en {
	background:
		url("http://adneom.fr/www/public/images/badge-postulez_en.png")
		no-repeat right top
}

.about {
	height: auto
}

.aboutcontentwrapper {
	width: 995px;
	margin: 0 auto 250px auto
}

.aboutcontentwrapper .aboutcontentcol1 {
	float: left;
	padding-right: 50px;
	width: 315px
}

.aboutcontentwrapper .aboutcontentcol2 {
	color: #FFF;
	float: left;
	width: 530px
}

.aboutcontentwrapper .aboutcontentcol2 h3 {
	margin: 0
}

.aboutcontentwrapper .title {
	color: #FFF;
	font-size: 100px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 200px 0 0 0;
	width: 660px;
	overflow: hidden;
	border-bottom: 2px #FFF solid;
	background:
		url("http://adneom.fr/www/public/images/bonhomme_title_about.png")
		no-repeat left 45px;
	padding-left: 94px;
	line-height: 70px;
	height: 165px
}

.aboutcontentwrapper .title span {
	font-size: 50px
}

.aboutcontentwrapper .sub-menu {
	list-style: none;
	width: 725px;
	overflow: hidden;
	margin: 15px 0 20px 0;
	padding: 0
}

.aboutcontentwrapper .sub-menu li {
	float: left;
	padding: 0 0 0 5px;
	height: 50px
}

.aboutcontentwrapper .sub-menu li a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 0 15px;
	height: 30px;
	line-height: 35px
}

.aboutcontentwrapper .onglet-content {
	width: 995px;
	overflow: hidden
}

.aboutcontentwrapper .onglet-content .aboutcontent {
	width: 965px;
	margin: 0 auto 60px auto
}

.aboutcontentwrapper .onglet-content .aboutcontent h3 {
	color: #FFF;
	font-size: 25px;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 20px 0 0 0;
	margin: 0
}

.aboutcontentwrapper .onglet-content .aboutcontent a {
	color: #FFF
}

.aboutcontentwrapper .onglet-content .aboutcontent p {
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	padding: 10px 0 0 0;
	margin: 0
}

.aboutcontentwrapper .onglet-content .aboutcontent p:first-child,.aboutcontentwrapper .onglet-content .aboutcontent h3+p
	{
	padding: 0 !important
}

.under-menu {
	list-style: none;
	width: 785px;
	overflow: hidden;
	margin: 15px 0 40px 0;
	padding: 0
}

.under-menu li {
	float: left;
	padding: 0 0 0 5px;
	height: 50px
}

.under-menu li a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 0 15px;
	height: 30px;
	line-height: 35px
}

.under-menu .active {
	background: none
}

.bullets_separator {
	display: block;
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/bullet_separator_about.png")
		repeat-x;
	width: 960px;
	height: 15px;
	margin: 60px auto;
	clear: left
}

#graphique1 {
	position: relative;
	margin: 0 auto;
	width: 558px
}

#graphique1 img {
	margin-top: 5px
}

#graphique2 {
	position: relative;
	min-height: 515px;
	width: 573px;
	margin: 0 auto
}

#graphique2 img {
	position: absolute;
	top: 45px;
	right: 5px
}

#graphique3 {
	position: relative;
	margin: 0 auto;
	width: 603px
}

.news {
	height: auto
}

.newsbgdog {
	background:
		url("http://adneom.fr/www/public/images/megaphone_bg_news.png")
		no-repeat -50px 200px;
	min-height: 904px;
	overflow: hidden
}

.newscontentwrapper {
	width: 995px;
	margin: 0 auto;
	overflow: hidden
}

.newscontentwrapper .title {
	color: #FFF;
	font-size: 100px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 200px 0 0 0;
	width: 650px;
	overflow: hidden;
	padding-left: 120px;
	border-bottom: 2px #FFF solid;
	background:
		url("http://adneom.fr/www/public/images/megaphone_title_news.png")
		no-repeat 0 8px;
	height: 120px
}

.newscontentwrapper #newslist {
	padding-top: 55px;
	width: 775px
}

.newscontentwrapper #newslist .newsbox {
	width: 725px;
	padding-left: 65px;
	background: url("http://adneom.fr/www/public/images/megaphone_news.png")
		no-repeat;
	padding-bottom: 15px;
	overflow: hidden
}

.newscontentwrapper #newslist .newsbox p {
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	text-align: justify
}

.newscontentwrapper #newslist .newsbox p strong {
	font-size: 18px;
	display: block;
	padding-bottom: 5px
}

.newscontentwrapper #newslist .newsbox p strong em {
	color: #000;
	font-weight: bold;
	font-style: normal
}

.newscontentwrapper #newslist .newsbox .newsphoto {
	width: 169px;
	float: left;
	padding-left: 25px
}

.newscontentwrapper #newslist .newsbox .newscontent {
	width: 480px;
	float: left
}

.newscontentwrapper .newscontentcol1 {
	width: 775px;
	padding-right: 50px;
	float: left
}

.newscontentwrapper .newscontentcol2 {
	width: 215px;
	float: left;
	padding-top: 55px
}

.newscontentwrapper .newscontentcol2 h3 {
	color: #FFF;
	font-size: 34px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 0
}

.newscontentwrapper .newscontentcol2 .listfilter {
	list-style: none;
	width: 205px;
	margin: 0 0 25px 0;
	padding: 0;
	background: #639d04;
	border-radius: 10px;
	border-right: 1px #c2eb72 solid;
	border-bottom: 1px #c2eb72 solid;
	box-shadow: 1px 1px 1px #333 inset;
	overflow: hidden
}

.newscontentwrapper .newscontentcol2 .listfilter li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #c2eb72 solid
}

.newscontentwrapper .newscontentcol2 .listfilter li:last-child {
	border-bottom: none
}

.newscontentwrapper .newscontentcol2 .listfilter li a {
	text-decoration: none;
	display: block;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px
}

.newscontentwrapper .newscontentcol2 .listfilter .selected {
	background-color: #FFF;
	box-shadow: 1px 1px 1px #333 inset
}

.newscontentwrapper .newscontentcol2 .listfilter .selected a {
	color: #639d04
}

.newscontentwrapper .newscontentcol2 .listtags {
	width: 205px;
	margin: 0 0 25px 0;
	padding: 0
}

.newscontentwrapper .newscontentcol2 .listtags p {
	height: 25px;
	background: #639d04;
	border-radius: 10px;
	border: 1px #333 solid;
	margin: 5px 5px 0 0;
	float: left
}

.newscontentwrapper .newscontentcol2 .listtags p a {
	text-decoration: none;
	display: block;
	height: 25px;
	line-height: 23px;
	padding: 0 15px;
	color: #FFF;
	font-size: 12px;
	text-align: center
}

.showmore {
	margin: 10px auto 150px auto;
	width: 180px;
	height: 45px
}

.showmore a {
	text-decoration: none;
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	width: 180px;
	height: 45px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	line-height: 45px;
	text-align: center
}

.buttons {
	width: 995px;
	margin: 10px auto 150px auto;
	overflow: hidden
}

.buttons .previous,.buttons .next {
	margin: 0 448px 0 71px;
	width: 100px;
	height: 45px;
	float: left
}

.buttons .previous a,.buttons .next a {
	text-decoration: none;
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	width: 100px;
	height: 45px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	line-height: 45px;
	text-align: center
}

.buttons .next {
	margin: 0
}

.skills {
	height: auto
}

.skillsbghead {
	background: url("http://adneom.fr/www/public/images/head_skills.png")
		no-repeat 15px 135px;
	min-height: 920px
}

.skillscontentwrapper {
	width: 995px;
	margin: 0 auto 150px auto
}

.skillscontentwrapper .title {
	color: #FFF;
	font-size: 100px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 200px 0 0 0;
	width: 730px;
	overflow: hidden;
	border-bottom: 2px #FFF solid;
	height: 120px
}

.skillscontentwrapper .sub-menu {
	list-style: none;
	width: 955px;
	overflow: hidden;
	margin: 15px 0 25px 0;
	padding: 0
}

.skillscontentwrapper .sub-menu li {
	float: left;
	padding: 0 0 0 5px;
	height: 50px
}

.skillscontentwrapper .sub-menu li a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 0 15px;
	height: 30px;
	line-height: 35px
}

.skillscontentwrapper .onglet-content {
	width: 995px;
	overflow: hidden
}

.skillscontentwrapper .skillscontentcol1 {
	float: left;
	width: 315px;
	padding-right: 50px
}

.skillscontentwrapper .skillscontentcol2 {
	float: left;
	width: 530px;
	margin-bottom: 60px
}

.skillscontentwrapper .skillscontentcol2 h3 {
	color: #FFF;
	font-size: 25px;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 20px 0 0 0;
	margin: 0
}

.skillscontentwrapper .skillscontentcol2 p {
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	padding: 10px 0 0 0;
	margin: 0
}

.skillscontentwrapper .skillscontentcol2 p:first-child,.skillscontentwrapper .skillscontentcol2 h3+p
	{
	padding: 0 !important
}

.skillscontentwrapper .skillscontentcol2 .intro p {
	color: #FFF;
	font-size: 16px;
	font-family: helvetica, Arial, sans-serif;
	margin: 0
}

.active {
	background: url("http://adneom.fr/www/public/images/forme-sub-menu.png")
		no-repeat center 30px
}

.active a,.sub-menu li a:hover {
	background: #FFF;
	border-radius: 5px
}

.join {
	height: auto;
	min-height: 1200px
}

.joincontentcol1 {
	float: left;
	padding-right: 50px;
	width: 315px
}

.joincontentcol2 {
	color: #FFF;
	float: left;
	margin-bottom: 60px;
	width: 530px
}

.joincontentcol2 h3 {
	margin: 0
}

.joincontentwrapper {
	width: 995px;
	margin: 0 auto;
	overflow: hidden
}

.joincontentwrapper .title {
	color: #FFF;
	font-size: 100px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 200px 0 0 0;
	width: 835px;
	overflow: hidden;
	border-bottom: 2px #FFF solid;
	background:
		url("http://adneom.fr/www/public/images/aimant_title_join.png")
		no-repeat left 55px;
	padding-left: 130px;
	line-height: 70px;
	height: 165px
}

.joincontentwrapper .title span {
	font-size: 50px
}

.joincontentwrapper .sub-menu {
	list-style: none;
	width: 1015px;
	overflow: hidden;
	margin: 15px 0 20px 0;
	padding: 0
}

.joincontentwrapper .sub-menu li {
	float: left;
	padding: 0 0 0 5px;
	height: 50px
}

.joincontentwrapper .sub-menu li a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 0 15px;
	height: 30px;
	line-height: 35px
}

.onglet-content {
	width: 100%
}

.onglet-content .joincontent {
	width: 965px;
	margin: 0 auto 60px auto
}

.onglet-content .joincontent h3 {
	color: #FFF;
	font-size: 25px;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	padding: 20px 0 0 0;
	margin: 0
}

.onglet-content .joincontent p {
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	padding: 10px 0 0 0;
	margin: 0
}

.onglet-content .joincontent p:first-child,.onglet-content .joincontent h3+p
	{
	padding: 0 !important
}

.onglet-content .params_search {
	width: 100%;
	background: #32a8da;
	border-top: 2px #FFF solid
}

.onglet-content .params_search .search {
	width: 965px;
	margin: 0 auto;
	overflow: hidden
}

.onglet-content .params_search .search .filter_title {
	display: none;
	margin: 0 0 0 715px;
	height: 40px;
	width: 250px
}

.onglet-content .params_search .search .filter_title a {
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	background:
		url("http://adneom.fr/www/public/images/white_bottom_join.png")
		no-repeat right bottom;
	padding: 18px 65px 0 0;
	text-align: right
}

.onglet-content .params_search .search #filter {
	padding: 40px 0 0 0
}

.onglet-content .params_search .search #filter .list-search {
	list-style: none;
	margin: 0 20px;
	padding: 0;
	width: 150px;
	float: left
}

.onglet-content .params_search .search #filter .list-search li {
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	padding-bottom: 10px
}

.onglet-content .params_search .search #filter .list-search li:first-child
	{
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	line-height: 24px;
	padding-bottom: 25px;
	height: 75px
}

.onglet-content .params_search .search .btn_filter {
	clear: both;
	margin: 0 0 0 855px
}

.onglet-content .params_search .search .btn_filter input[type="submit"]
	{
	background: #364d5f;
	border: none;
	border-radius: 5px;
	color: #FFF;
	font-size: 18px;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding: 0 10px;
	width: 110px
}

.onglet-content .params_search .search .top {
	clear: both;
	width: 62px;
	padding: 30px 0 0 0;
	margin: 0 0 0 897px
}

.onglet-content .params_search .search .top a {
	display: block;
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/white_top_join.png")
		no-repeat right bottom;
	width: 62px;
	height: 30px
}

.onglet-content .results_search {
	width: 100%;
	background: #FFF
}

.onglet-content .results_search .triangle {
	width: 965px;
	margin: 0 auto;
	height: 40px
}

.onglet-content .results_search .triangle span {
	display: block;
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/triangle_join.png")
		no-repeat left top;
	width: 55px;
	height: 31px;
	margin: 0 0 0 30px
}

.onglet-content .results_search .results {
	width: 965px;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 20px;
	border-bottom: 1px #bfedff dashed
}

.onglet-content .results_search .results .results_col1 {
	width: 300px;
	float: left
}

.onglet-content .results_search .results .results_col1 .categories {
	list-style: none;
	margin: 0;
	padding: 0
}

.onglet-content .results_search .results .results_col1 .categories li {
	color: #000;
	font-size: 13px;
	font-family: helvetica, Arial, sans-serif;
	font-weight: bold;
	padding: 0 0 5px 0
}

.onglet-content .results_search .results .results_col1 .categories li span
	{
	font-weight: normal
}

.onglet-content .results_search .results .results_col2 {
	width: 510px;
	padding: 0 40px;
	float: left
}

.onglet-content .results_search .results .results_col2 p {
	margin: 0;
	color: #000;
	font-size: 13px;
	font-family: helvetica, Arial, sans-serif
}

.onglet-content .results_search .results .results_col2 ul,.onglet-content .results_search .results .results_col2 li
	{
	color: #000
}

.onglet-content .results_search .results .results_col3 {
	width: 115px;
	float: left
}

.onglet-content .results_search .results .results_col3 p {
	margin: 0;
	padding: 35px 0 0 0
}

.onglet-content .results_search .results .results_col3 p a {
	text-decoration: none;
	display: block;
	color: #32a8da;
	font-size: 13px;
	font-family: helvetica, Arial, sans-serif;
	font-weight: bold
}

.onglet-content .results_search .results:last-child {
	border-bottom: none
}

.onglet-content .results_search .the_results {
	min-height: 180px
}

.onglet-content .accolade_bottom {
	width: 965px;
	margin: 0 auto;
	height: 25px;
	margin-bottom: 50px
}

.onglet-content .accolade_bottom span {
	display: block;
	text-indent: -9999px;
	background:
		url("http://adneom.fr/www/public/images/accolade_bottom_join.png")
		no-repeat center bottom;
	width: 75px;
	height: 21px;
	margin: 0 auto
}

.custom-checkbox {
	position: relative
}

.custom-checkbox input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0
}

.custom-checkbox label {
	display: block;
	position: relative;
	z-index: 1;
	padding-left: 25px;
	cursor: pointer
}

.custom-checkbox label {
	background: url(http://adneom.fr/www/public/images/checkbox_join.png)
		no-repeat
}

.custom-checkbox label {
	background-position: 0 -54px
}

.custom-checkbox label.checked {
	background-position: 0 1px
}

footer {
	position: fixed;
	z-index: 10000;
	width: 100%;
	bottom: 0;
	border-bottom: 4px solid #333333
}

footer .shares {
	background: url("http://adneom.fr/www/public/images/sitemap.png")
		no-repeat top center;
	height: 41px;
	width: 303px;
	margin: 0 auto;
	text-align: center;
	color: #FFF;
	padding: 0
}

footer .shares .poignee-footer {
	width: 280px;
	height: 45px;
	margin: 0 auto;
	padding: 15px 0 0 0;
	list-style: none;
	overflow: hidden
}

footer .shares .poignee-footer li {
	float: left;
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	margin: 0 10px 0 0
}

footer .shares .poignee-footer li a {
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif
}

footer .shares .poignee-footer li .twitter {
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/twitter.png")
		no-repeat center bottom;
	height: 20px;
	width: 23px;
	margin: 1px 0 0 0
}

footer .shares .poignee-footer li .facebook {
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/facebook.png")
		no-repeat center bottom;
	height: 21px;
	width: 11px
}

footer .shares .poignee-footer li .linkedin {
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/linkedin.png")
		no-repeat center bottom;
	height: 20px;
	width: 20px;
	margin: 1px 0 0 0
}

footer .shares .poignee-footer li .google {
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/google.png")
		no-repeat center bottom;
	height: 18px;
	width: 19px;
	margin: 2px 0 0 0
}

footer .shares .poignee-footer li .my-adneom {
	text-indent: -9999px;
	background: url("http://adneom.fr/www/public/images/my-adneom.png")
		no-repeat center bottom;
	height: 29px;
	width: 79px;
	position: absolute;
	top: -5px
}

footer .shares .poignee-footer .footer-last {
	margin: 0;
	position: relative
}

footer .sitemap {
	height: 185px;
	width: 100%;
	background-color: #333
}

footer .sitemap .sitemap-list {
	width: 965px;
	margin: 0 auto;
	padding: 30px 0;
	overflow: hidden
}

footer .sitemap .sitemap-list ul {
	margin: 0 30px;
	padding: 0;
	list-style: none;
	float: left;
	width: 150px
}

footer .sitemap .sitemap-list ul li {
	color: #FFF;
	font-size: 12px;
	font-family: helvetica, Arial, sans-serif;
	padding: 0 0 5px 0
}

footer .sitemap .sitemap-list ul li a {
	text-decoration: none;
	color: #73c9ff;
	font-size: 12px;
	font-family: helvetica, Arial, sans-serif
}

footer .sitemap .sitemap-list ul li:first-child {
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif;
	padding: 0 0 10px 0
}

footer .sitemap .sitemap-list ul li:first-child a {
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	font-family: helvetica, Arial, sans-serif
}

#lightbox {
	height: 560px;
	width: 960px;
	overflow: hidden;
	border: 1px solid #32a8da
}

#lightbox label {
	font-size: 20px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 3px;
	width: 185px;
	display: block;
	color: #666
}

#lightbox form {
	display: block;
	margin-top: 17px;
	margin-left: 25px
}

#lightbox input,#lightbox select,#lightbox button {
	border: 1px solid #32a8da;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 28px;
	line-height: 28px;
	color: #666
}

#lightbox input {
	width: 100%
}

#lightbox .submit {
	border: 1px solid #666;
	height: 30px;
	color: #FFF;
	margin-top: 15px;
	width: 80px
}

#lightbox .single-input {
	width: 185px
}

#lightbox .input_image {
	width: 143px;
	float: left;
	margin-right: 10px
}

#lightbox .jobapply .single-input {
	width: 275px
}

#lightbox .jobapply .single-input label {
	margin-top: 10px
}

#lightbox .jobapply .form-submit {
	width: 100%;
	clear: left
}

#lightbox .jobapply .form-submit .submit {
	float: left
}

#lightbox .jobapply .form-submit .error {
	float: left;
	display: block;
	line-height: 20px;
	margin: 10px 0 0 18px;
	padding: 0;
	width: 180px
}

#lightbox .jobapply .form-submit .fatal {
	color: #FF0000
}

.joboffer,.jobapply {
	float: left;
	height: 100%
}

.joboffer {
	background-color: #fff;
	width: 66%;
	height: 560px;
	overflow-y: scroll;
	overflow-x: hidden
}

.joboffer h2,.joboffer h3,.joboffer p,.joboffer ul {
	margin-left: 30px;
	padding-right: 25px
}

.joboffer li {
	color: #222222
}

.joboffer h2 {
	font-size: 24px
}

.joboffer h3 {
	font-size: 14px;
	font-weight: bold
}

.joboffer p {
	font-size: 14px
}

.jobapply {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #e9f9ff;
	width: 34%;
	border-left: 1px solid #32a8da
}

.jobapply h3 {
	color: #000000;
	font-size: 30px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	line-height: 45px;
	margin-left: 25px;
	margin-bottom: 0px
}

.jobapply h3 img {
	margin-right: 15px;
	display: block;
	float: left
}

.jobapply .input p {
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 0;
	color: #666;
	font-size: 13px;
	display: block;
	width: 100%;
	clear: left
}

h4 {
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 10px 0 0;
	text-transform: uppercase
}

h5 {
	color: #FFFFFF;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 10px 0 0;
	padding: 5px 0 0
}

li {
	/*color: #FFFFFF;*/
	font-family: helvetica, Arial, sans-serif;
	font-size: 14px
}

.scrollblockup {
	overflow: hidden
}

.myadneomlist {
	color: #333
}

.myadneomlist ul,.myadneomlist li,.myadneomlist a {
	list-style-type: none;
	text-decoration: none;
	font-family: 'HelveticaNeueLTStd77BdCn', helvetica, Arial, sans-serif;
	color: #333;
	font-size: 20px;
	text-align: right
}

.myadneomlist ul {
	height: 180px;
	top: 30px;
	position: relative
}

.myadneomlist li {
	margin-bottom: 16px;
	padding-right: 10px;
	background: url("http://adneom.fr/www/public/images/rightarrow.png")
		no-repeat center right
}

#share nav {
	top: 0
}

#share nav .badge_fr,#share nav .badge_nl,#share nav .badge_en {
	top: 75px
}

#share .newscontentwrapper .title {
	margin: 100px 0 0
}

#share .newscontentwrapper .newscontentcol1 {
	margin-bottom: 100px
}

#share .join {
	min-height: 900px
}

#share .joboffer {
	height: 735px
}

#share .job_single {
	height: 735px;
	width: 980px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid #32a8da
}

#share label {
	font-size: 20px;
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin-top: 15px;
	margin-bottom: 5px;
	padding-left: 3px;
	width: 185px;
	display: block;
	color: #666
}

#share form {
	display: block;
	margin-top: 17px;
	margin-left: 25px
}

#share input,#share select,#share button {
	border: 1px solid #32a8da;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 28px;
	line-height: 28px;
	color: #666
}

#share input {
	width: 100%
}

#share .submit {
	border: 1px solid #666;
	height: 30px;
	color: #FFF;
	margin-top: 15px;
	width: 80px
}

#share .single-input {
	width: 185px
}

#share .input_image {
	width: 143px;
	float: left;
	margin-right: 10px
}

#share .jobapply .single-input {
	width: 275px
}

#share .jobapply .single-input label {
	margin-top: 10px
}

#share .jobapply .input p {
	font-family: 'HelveticaNeue45Light', helvetica, Arial, sans-serif;
	margin: 0;
	color: #666;
	font-size: 13px;
	display: block;
	width: 100%;
	clear: left
}

#share .jobapply .form-submit {
	width: 100%;
	clear: left
}

#share .jobapply .form-submit .submit {
	float: left
}

#share .jobapply .form-submit .error {
	float: left;
	display: block;
	line-height: 20px;
	margin: 10px 0 0 18px;
	padding: 0;
	width: 180px
}

#share .jobapply .form-submit .fatal {
	color: #FF0000
}

.nl .joincontentwrapper .title {
	width: 975px;
	height: 185px;
	padding-top: 20px
}

/*-------- CSS PROPRE AU SITE ---------*/
#content
{
	text-align: center
}
#selection_test {
	text-align: left;
	margin: 10% auto auto auto;
	width: 50%;
	position:relative;
}

#selection_test fieldset {
	border: solid 1px black;
	border-radius: 8px;
	padding: 10px;
	width: 100%;
}

#selection_test input[type=button] {
width: 100px;
float:right
}

#selection_test .selector {
	display: inline-block;
	width: 50%;
}

#selection_test fieldset select {
	float: right
}

#selection_test #selected-categories {
    width: 45%;
	padding: 10px;
	float:right;
	border-left: solid 1px black;
}

.category
{
	border: solid 1px black;
	border-radius: 8px;
	padding:5px;
	margin:5px;
	float: left;	
	position:relative;
}

.close-button
{
	position:absolute;
	top:0px;
	right: 0px;
	margin: 0 5px 0 0;
}

#content input
{
	box-shadow : 3px 3px 3px #888;
}

input#launch_test
{
	margin: 20px;
	width : 200px;
}

#questions
{
	text-align:left;
		
}

#questions li
{
	list-style-type: none;
}

#questions li label
{
	margin-left:10px;
}